.card{
    width: 30rem;
    margin: 125px;
    margin-left: 295px;
    background-image: url(../assets/bd6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}

h5, p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}